
header .nav a{
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
header .nav li{
  margin-right: 25px;
}
header h1{
  margin: 10px 0;
  position: relative;
  padding-right: 45px;
}
header h1:after{
  position: absolute;
  right: 25px;
  content: "";
  width: 1px;
  height: 100%;
  background: #cfa854;
}
@media only screen and (max-width: 767px) {
  .hamburger,.project-container .media,.closBtn{
    display: block;
}
.nav{
    position: fixed;
    right: -220px;
    display: block;
    background: rgba(0,0,0,0.9);
    z-index: 999;
    height: 100%;
    top: 0;
    width: 220px;
    padding: 20px;
}
header .nav a{
    color: #fff;
    font-size: 22px;
}
header .nav li{
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center;
}
}
#mail-btn {
  position: fixed;
  top: 25px;
  right: 20px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: 0;
  color: #fff;
}
.enquire-btn{padding:.7rem 1.5rem .7rem!important;
  background:#cea654;border-radius:25px;font-size:16px;
  color:#fff!important;top:100px; right:60px;}
.enquire-btn a,.enquire-btn a:hover,a:hover.enquire-btn{text-decoration:none;}
/* search */
.search-container{
  position: static;
  width: 515px;
}
.search-section{
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
}
.search-section input[type="text"]{
  border: none;
}
.search-section input[type="text"]:focus{
  outline: none;
}
.search-section .btn-primary{
  font-family: roboto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  width: 105px;
  min-width: auto;
  height: 40px;
}
/* .auto-suggest{
  display: none;
} */
.auto-suggest ul{
  background: #fff;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 0 5px 5px;
  width: auto;
  margin-top: -2px;
  position: absolute;
  max-height: 170px;
  overflow-y: auto;
  z-index: 99;
}
.auto-suggest li a{
  font-size: 14px;
  padding:5px 20px;
  display: block;
  color: #000;
}
.auto-suggest li span{
  display: block;
  background: #dfdace;
  padding: 5px 20px;
  text-align: right;
}
.auto-suggest li a:hover{
  text-decoration: none;
  background: #f0eadd;
}
.latest-search ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.latest-search li{
  float: left;
}
.latest-search li a{
  color: #cea654;
  font-size: 12px;
  border: solid 1px #cea654;
  border-radius: 15px;
  padding: 3px 10px;
  margin-right: 15px;
}

@media only screen and (max-width: 1199px) {
  .search-container{
    margin-left: -480px;
  }
}
@media only screen and (max-width: 991px) {
  .search-container{
    margin-left: -360px;
  }
}
@media only screen and (max-width: 767px) {
  .search-container{
    margin-left: 0;
    left: auto;
    width: 100%;
    bottom: auto;
    top: 50px;
  }
  .search-section{
    width: 100%;
  }
  .hero-section .hero-caption{
    top: 0;
  }
  .hero-section .hero-caption.container{
    max-width: none;
    margin-top: 0;
    position: relative;
    background: #fff;
}
.auto-suggest ul{
  width: 80%;
}
}
.loader-submit {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: inline-block;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
