<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-adminsidebar></app-adminsidebar>
    </div>
    <div class="col-md-10 py-5">
      <div class="border-bottom pb-3 mb-4 d-flex justify-content-between">
        <h3>List Gallery</h3>
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()"> 
        <label class="btn btn-info custom-file-upload">
          <input formControlName="gimage" type="file" name="gimage[]" (change)="onFileSelect($event)" multiple/>
            Add Gallery
        </label>
        <div>
          <!-- <input formControlName="gimage" type="file" name="gimage[]" (change)="onFileSelect($event)" multiple/> -->
        </div>
        <!-- <div>
          <button type="submit">Upload</button>
        </div> -->
        </form>
      </div>
      
          <div class="col-md-12 py-6">
        <div>
            <ul id="navlist">
                <li *ngFor="let Gallery of galarylist"  class="img_wrp">
                    <img class="thumbnail"  width="200px" height="200px" class="brochure-poster" src="http://www.zaararealty.in/{{Gallery.img_path}}/{{Gallery.img_name}}" />
                    <img class="close_icon" (click)="remove(Gallery.ID)" src="assets/icons/delete-bin.png" />

                </li>
                </ul>
      </div> 
    </div>
        </div>
   
  </div>
</div>
