<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      <app-adminsidebar></app-adminsidebar>
    </div>
    <div class="col-md-10 py-5">
      <div class="d-flex align-items-center justify-content-between w-100 border-bottom mb-4">
        <h3 class="pb-3">Add amenities</h3>
        <a [routerLink]="['/admin/amenitieslist',ProjId]">Amenities list</a>
      </div>

      <form [formGroup]="addAmenitiesForm" (ngSubmit)="addAmenities()">
      <div class="card mb-4 p-3">
          <div *ngIf="!!succMsgFlag" class="alert alert-warning">{{succMsg}}</div>
          <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <label for="amenname">Amenities name</label>
                    <input type="text" formControlName="amenities_name" class="form-control" name="amenname"
                      placeholder="Amenities name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select formControlName="status" class="form-control" name="status" #status>
                      <option value="active">Active</option>
                      <option value="inactive">In active</option>
                    </select>

                  </div>
                </div>
          </div>
      </div>
      <p class="text-right"><button type="submit" class="btn btn-primary" [disabled]="!addAmenitiesForm.valid">Submit</button></p>
      </form>

    </div>
  </div>
</div>
