<section class="hero-container mb-5 carousel slide parallax" id="hero" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#hero" data-slide-to="0" class="active"></li>
        <li data-target="#hero" data-slide-to="1"></li>
        <li data-target="#hero" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="hero-section d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="assets/images/hero-banner/banner1.jpg" alt="">
            <div class="container hero-caption">
                <p><span>Driven, motivated and inspired</span> <br> <span>everyone at <strong>Zaara Realty</strong> strives</span> <br> <span>for brilliance at work</span></p>
                <!-- <button class="btn btn-primary no-radius">Read more</button> -->
            </div>
            </div>
        </div>
        <div class="carousel-item bnr2">
            <div class="hero-section d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="assets/images/hero-banner/banner2.jpg" alt="">
            <div class="container hero-caption">
                <p><span>Driven, motivated and inspired</span> <br> <span>everyone at <strong>Zaara Realty</strong> strives</span> <br> <span>for brilliance at work</span></p>
                <!-- <button class="btn btn-primary no-radius">Read more</button> -->
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="hero-section d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="assets/images/hero-banner/banner3.jpg" alt="">
            <div class="container hero-caption">
                <p><span>Driven, motivated and inspired</span> <br> <span>everyone at <strong>Zaara Realty</strong> strives</span> <br> <span>for brilliance at work</span></p>
                <!-- <button class="btn btn-primary no-radius">Read more</button> -->
            </div>
            </div>
        </div>
    </div>
</section>

<section class="welcome-contaoner pb-5 parallax position-relative" id="about">
    <div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 welcome-img-section px-0">
            <img class="img-fluid" src="assets/images/welcome-img.jpg" alt="">
        </div>
        <div class="col-md-6 welcome-section">
            <h2 class="mb-4">Welcome to <span class="d-block">Zaara Realty</span></h2>
            <p>Zaara Realty provides all the stake holders with end to end services to ensure a seamless marketing and sales experience. Services include Marketing and sales support for developers, provide wide range of exclusive properties comprising of ready-to-move-in homes, affordable homes, premium homes and plots to investors & property-buyers.</p>
        </div>
    </div>
</div>
</section>

<section class="about-container parallax py-5 mb-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-4 excellence">
                <h3>Excellence</h3>
                <p>Driven, motivated and inspired everyone at Zaara Realty strives for brilliance at work. This helps our clients get top notch services.</p>
            </div>
            <div class="col-md-4 passion">
                <h3>Passion</h3>
                <p>Handpicked by our team of experts, each member of our team is driven by a passion and a commitment towards best practices.</p>
            </div>
            <div class="col-md-4 intelligence">
                <h3>Intelligence</h3>
                <p>With our experience of scoping opportunities around the globe and our acumen for real estate we help our client make intelligent investments.</p>
            </div>
        </div>
        <!-- <div class="text-center"><button class="btn btn-primary no-radius">Read More</button></div>  -->
    </div>
</section>


<section class="project-container mb-5 position-relative" id="projects">
    <h3 class="text-center mb-4 mt-0">Projects</h3>
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card" (click)="showProjectDetails()">
                    <p class="card-title">Ready to Move Luxury Villa at Medvakkam</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/medavakkam.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">960 Sft Plot Area + 203 UDS</h5>
                            <ul>
                                <li>Individual Water Tank and Bore connection</li>
                                <li>Potable ground Water at 50 feet level</li>
                                <li>Ground + 1 Floor</li>
                                <li>Vaasthu Compliant</li>
                            </ul>
                        IGCSE Vaels Billabong school in 100 meters – Commencing from 2019 
                    </div>
                </div>
            </div> 
            <div class="project-footer-section">
                <ul class="d-flex justify-content-between">
                    <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>960 - 1610 Sqft</span></li>
                    <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>3 Bedrooms</span></li>
                    <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>3 Bathrooms</span></li>
                    <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/parking.svg" alt=""><span>1 Coverd Parking</span></li>
                </ul>  
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Ready to Move Luxury Villa at Medvakkam</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/medavakkam2.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">1010 Sft Plot Area + 203 UDS</h5>
                            <ul>
                                <li>Spacious Living</li>
                                <li>Separate Dining Room</li>
                                <li>1 Additional Living room at 1st Floor</li>
                                <li>Individual Water Tank and Bore connection</li>
                                <li>Potable ground Water at 50 feet level</li>
                                <li>Ground + 1 Floor</li>
                                <li>Vaasthu Compliant</li>
                            </ul>
                            IGCSE Vaels Billabong school in 100 meters – Commencing from 2019 
                        </div>
                    </div>
                </div>
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>1010 - 1710 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>3 Bathrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/parking.svg" alt=""><span>1 Coverd Parking</span></li>
                    </ul>  
                </div>
            </div>
            </div>
            <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Luxury Apartments at Kolathur</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/madhavaram.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">₹ 66.99 Lac</h5>
                            <ul>
                                <li>1 Balcony</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>1276 - 1574 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Luxury Apartments at Kolathur</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/kolathur.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">₹ 92.3 Lac</h5>
                            <ul>
                                <li>1 Balcony</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>1758 - 1859 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            
        </div>
        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Luxury Apartments at Kolathur</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/madhavaram.jpg" width="235" alt="">
                        
                    </div>
                </div>
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>2918 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>4 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>4 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Embrace the new Riviera lifestyle</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/dubai.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Luxury four- and five-star hotels.</h5>
                            <ul>
                                <li>Landscaped gardens, Amphitheatre</li>
                                <li>Gymnasium, Sauna, Swimming pool with water falls</li>
                                <li>Dubai Creek 13 Minutes, 13 km</li>
                                <li>Kids swimming pool , Kids play area, Yoga zone</li>
                                <li>Dubai International Airport 15 Minutes, 17 km</li>
                                <li>BBQ seating Area, Outdoor chess play area</li>
                                <li>Dubai Mall 15 Minutes, 11 km</li>
                                <li>Bocce area, Zen Garden, Pets agility area</li>
                                <li>Dubai Festival City 15 Minutes, 15 km</li>
                                <li>Meydan One Mall  5 Minutes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>RESIDENTIAL + RETAIL</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>3 Bedrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Embrace the new Riviera lifestyle</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/dubai1.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Luxury four- and five-star hotels.</h5>
                            <ul>
                                <li>Landscaped gardens, Amphitheatre</li>
                                <li>Gymnasium, Sauna, Swimming pool with water falls</li>
                                <li>Dubai Creek 13 Minutes, 13 km</li>
                                <li>Kids swimming pool , Kids play area, Yoga zone</li>
                                <li>Dubai International Airport 15 Minutes, 17 km</li>
                                <li>BBQ seating Area, Outdoor chess play area</li>
                                <li>Dubai Mall 15 Minutes, 11 km</li>
                                <li>Bocce area, Zen Garden, Pets agility area</li>
                                <li>Dubai Festival City 15 Minutes, 15 km</li>
                                <li>Meydan One Mall  5 Minutes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>RESIDENTIAL + RETAIL</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>3 Bedrooms</span></li>
                    </ul>  
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Ready to Move Radiance Icon - Koyambedu</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/radiance-icon.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">599 sqft to 1529 sqft Starts from 60 Lakhs</h5>
                            <ul>
                                <li>Walkable distance from Koyambedu metro station</li>
                                <li>Very near to Anna nagar</li>
                                <li>Swimming pool</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>599 - 1529 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>

        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Ready to Move Lokaa M One - Madhavaram</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/lokaa-m-one.jpg" width="235" alt="">
                        <div class="media-body">
                            <ul>
                                <li>200 meters Mofussil bus depo</li>
                                <li>Swimming pool</li>
                                <li>Gym</li>
                                <li>Mini theatre</li>
                                <li>Indoor games, etc..</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2,3&4 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2,3&4 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Ready to Move Urban Tree - Oxygen Perumbakkam</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/urbantree-perumbakkam.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>Starts from 36 Lakhs</h5>
                            <ul>
                                <li>Near to Global Hospitals</li>
                                <li>Shuttle Bus</li>
                                <li>Business centre</li>
                                <li>Pharmacy</li>
                                <li>Swimming pool</li>
                                <li>Skating, etc..</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Ready to Move Urban Tree - Infinity Porur</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/urbantree-porur.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">949 sqft to 1518 sqft</h5>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>949 - 1518 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Ready to Move Urban tree - Superb Urapakkam</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/urbantree-urapakkam.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>545 sqft to 1293 sqft, 2BHK Starts from 35 Lakhs</h5>
                            
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>545 - 1293 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Urban tree - Fantastic - Vanagaram</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/urbantree-vanagaram.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>588 sqft to 1414 sqft, 2BHK Starts from 35 Lakhs</h5>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>588 - 1414 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Ready to Move Urban tree - Wow Medavakkam</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/urbantree-medavakkam.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>935 sqft to 1440 sqft</h5>
                            
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>935 - 1440 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Urban tree - Awseome - Thiruvanmiyur</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/urbantree-thiruvanmiyur.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>1905 sqft - 2015 sqft</h5>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>1905 - 2015 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Isha Homes code Field - Pudupakkam - Villa</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/ishahomes-pudupakkam.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>1948 sqft to 2538 sqft Starts from 97 Lakhs</h5>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>1948 - 2538 Sqft</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Isha Homes code Field - Pudupakkam - Row house</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/ishahomes-pudupakkam-rowhouse.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>932 sqft - 1142 sqft Starts from 40 Lakhs</h5>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>932 - 1142 Sqft</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Isha Homes code Field - Pudupakkam - Premium Row House</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/ishahomes-pudupakkam.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>1669 sqft Starts from 70 Lakhs</h5>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>1669 Sqft</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">Isha Homes code Field - Pudupakkam - Twin Villas</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/ishahomes-pudupakkam.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>2133 sqft - 2212 sqft Starts from 1 Crore</h5>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>2133 - 2212 Sqft</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">FOMRA HUES – PORUR LINK ROAD</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/fomra-hues.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>950 sqft Starts from 46 Lakhs</h5>
                            <ul>
                                <li>2.1 acre community on the 200 ft road comprising 229 units with 2 & 3 bhk homes ranging from 950 – 1821 sq.ft.</li>
                                <li>Price starts from Rs. 46 Lakhs* onwards</li>
                                <li>The location offers excellent connectivity to prime city localities as well as major highways.</li>
                                <li>It is surrounded by IT parks, leading schools, colleges, healthcare hubs, and entertainment zones.</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>950 - 1821 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">URBAN RISE – JUBILEE RESIDENCES  [Guduvanchery -Nellikuppam Rd. ( 4 Km off GST Road)]</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/urban-rise.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>330 sqft - 817 sqft Starts from 12 Lakhs</h5>
                            <ul>
                                <li>Providing you with a lavish style of living, Urbanrise Jubilee Residences is a residential cum commercial development situated in Guduvancheri.</li>
                                <li>Closer to all Auto/manufacturing hubs, high capital appreciation with low investment.</li>
                                <li>PROJECT DETAILS : Studio, 1BHK, 2BHK and 3BHK apartments ranging from 330 sq.ft. to 817 sq.ft.</li>
                                <li>Price starts from Rs. 12 Lakhs* onwards</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>330 - 817 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">ALLIANCE ORCHID SPRINGS –KORATUR, ANNA NAGAR</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/alliance-orchid.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>692 sqft - 6410 sqft</h5>
                            <ul>
                                <li>consists of 2026 truly exceptional apartment homes, a shopping mall, multiplex and an international standard clubhouse. </li>
                                <li>Spread across 18 acres, exceptionally designed 2,3 4 bhk apartments ranging from 692 to 6410 sq.ft.</li>
                                <li>It is in the vicinity of numerous hospitals, schools, restaurants, banks, petrol pumps and parks. </li>
                                <li>Very near to SBOA, Chinmaya Vidyalaya, DAV, Chennai Public school, Kendriya vidyalaya, Velammal School</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>692 - 6410 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2,3&4 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2,3&4 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">SHRIRRAM DIVINE CITY – MANGADU</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/shriram-divine-city.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>452 sqft - 2408 sqft Starts from 20 Lakhs</h5>
                            <ul>
                                <li>It offers spacious and skilfully designed 1BHK, 2BHK, 3BHK apartments and villas ranging 452 to 2408 sq.ft.</li>
                                <li>Surrounded by 10 top schools, 5 medical colleges, 9 hospitals and 1 famous temple.</li>
                                <li>Upcoming Metro Phase II just few minutes away</li>
                                <li>Price starts from Rs.20 Lakhs* onwards</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>452 - 2408 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">AGNI - PELICAN HEIGHTS ( PALLAVARAM – 200 FT RADIAL ROAD)</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/agni-pelican.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>980 sqft - 1450 sqft Starts from 50 Lakhs</h5>
                            <ul>
                                <li>The location is in close proximity to Educational institutions, hospitals, shopping and entertainment areas.</li>
                                <li>Being a gated community, Pelican Heights offers security through both Manual and electronic surveillance along with lifestyle amenities like Swimming Pool, Indoor Games, Gymnasium, Park, Multipurpose hall and Children's play area etc.</li>
                                <li>The project offers 2 and 3 BHK spacious apartments ranging from 980 to 1450 sq.ft.</li>
                                <li>The price starts from Rs. 50 Lakhs * onwards</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>980 - 1450 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2&4 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2&4 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">OZONE GREENS – PERUMBAKKAM</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/ozone-greens.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>651 sqft - 2575 sqft Starts from 30 Lakhs</h5>
                            <ul>
                                <li>Spread in an area of 15 acres, it offers well-designed 1, 2, 3 and 4 bhk with the size of the flats ranging from 651 sq ft to 2,575 sq ft.</li>
                                <li>located within the nucleus of Chennai’s bustling IT hub with companies like TCS, Wipro, Infosys, Cognizant, Accenture, Satyam, HCL & Polaris all within 8 kms radius.</li>
                                <li>amenities include a well-equipped gymnasium, a swimming pool, a kids play area, a club house, a jogging track, an indoor games facility and landscaped gardens.</li>
                                <li>Price starts from Rs. 30 Lakhs* onwards</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>651 - 2575 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2,3&4 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2,3&4 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">ALLIANCE GALLERIA RESIDENCES – PALLAVARAM (200 FT RADIAL ROAD)</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/alliace-galleria.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>370 sqft - 1102 sqft Starts from 35 Lakhs</h5>
                            <ul>
                                <li>Spread over an area of 9.09 acres the project offers 1, 2 and 3 BHK apartments with their carpet size ranging from 370 sq ft to 1,102 sq ft.</li>
                                <li>MIVAN / RCC Construction (3 Times Durable compared to Conventional method of Construction)</li>
                                <li>No Common Wall (2 & 3 BHK Regular units)</li>
                                <li>31,000 Sq. ft Clubhouse with Power packed Amenities.</li>
                                <li>Semi – Furnished Homes at Same Costs |FREE Modular Kitchens| FREE Wardrobes| FREE SPLIT AC’S</li>
                                <li>Price starts from Rs. 35 Lakhs* onwards</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>370 - 1102 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>1,2&3 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>1,2&3 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <p class="card-title">LOKAA – M ONE – KOLATHUR</p>
                    <div class="media">
                        <img class="mr-3" src="assets/images/projects/lokaa-m-one.jpg" width="235" alt="">
                        <div class="media-body">
                            <h5>1276 sqft - 2280 sqft Starts from 30 Lakhs</h5>
                            <ul>
                                <li>234 spectacular 2, 2.5, 3 and 4 BHK homes ranging from 1276 to 3380 sq.ft. spread across 23 floors, rising amidst 2.1 green acres.</li>
                                <li>M One’s unique butterfly design ensures better ventilation and lighting</li>
                                <li>Vaastu-Compliant and eco-friendly homes</li>
                                <li>It is a pre-certified IGBC rated project</li>
                                <li>Price starts from Rs.66 Lakhs * onwards</li>
                            </ul>
                    </div>
                    </div>
                </div> 
                <div class="project-footer-section">
                    <ul class="d-flex justify-content-between">
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/area.svg" alt=""><span>1276 - 3380 Sqft</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bedroom.svg" alt=""><span>2,2.5,3&4 Bedrooms</span></li>
                        <li class="d-flex align-items-center"><img width="20" src="assets/images/svg/bathroom.svg" alt=""><span>2,2.5,3&4 Bathrooms</span></li>
                    </ul>  
                </div>
            </div>
            
        </div>

    </div>
</section>


<section class="py-5 clients-container">
    <div class="container text-center">
        <h3 class="mb-4">Clients</h3>
        <div class="row">
            <div class="col-md-12">
                <ul class="owl-carousel mb-0">
                    <li><img class="img-fluid" src="assets/images/clients/casagrand_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/ozonegreen_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/shriram_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/thelokhaubud_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/urbantree_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/isha_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/navins_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/radiance_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/ShriJanani_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/vijaybuilders_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/agni_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/alliance_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/puravankara_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/urbanrise_logo.jpg" alt=""></li>


                </ul>
            </div>
        </div>
    </div>
</section>

<section class="whychoose-container py-5 parallax">
    <div class="container text-center">
        <h3>Why choose us?</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">01</p> 
                <p class="mb-0">DEDICATED PROPERTY CONSULTANT</p> 
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">02</p> 
                <p class="mb-0">24x7 SUPPORT</p> 
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">03</p> 
                <p class="mb-0">WE DO IT ALL</p> 
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">04</p> 
                <p class="mb-0">BEST DEAL</p> 
            </div>
        </div>
    </div>
</section>

