<section class="hero-container mb-5 carousel slide parallax" id="hero" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#hero" data-slide-to="0" class="active"></li>
        <li data-target="#hero" data-slide-to="1"></li>
        <li data-target="#hero" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="hero-section d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="assets/images/hero-banner/banner1.jpg" alt="">
            <div class="container hero-caption">
                <p><span>Driven, motivated and inspired</span> <br> <span>everyone at <strong>Zaara Realty</strong> strives</span> <br> <span>for brilliance at work</span></p>
                <!-- <button class="btn btn-primary no-radius">Read more</button> -->
            </div>
            </div>
        </div>
        <div class="carousel-item bnr2">
            <div class="hero-section d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="assets/images/hero-banner/banner2.jpg" alt="">
            <div class="container hero-caption">
                <p><span>Driven, motivated and inspired</span> <br> <span>everyone at <strong>Zaara Realty</strong> strives</span> <br> <span>for brilliance at work</span></p>
                <!-- <button class="btn btn-primary no-radius">Read more</button> -->
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="hero-section d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="assets/images/hero-banner/banner3.jpg" alt="">
            <div class="container hero-caption">
                <p><span>Driven, motivated and inspired</span> <br> <span>everyone at <strong>Zaara Realty</strong> strives</span> <br> <span>for brilliance at work</span></p>
                <!-- <button class="btn btn-primary no-radius">Read more</button> -->
            </div>
            </div>
        </div>
    </div>
</section>

<section class="welcome-contaoner pb-5 parallax position-relative" id="about">
    <div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 welcome-img-section px-0">
            <img class="img-fluid" src="assets/images/welcome-img.jpg" alt="">
        </div>
        <div class="col-md-6 welcome-section">
            <h2 class="mb-4">Welcome to <span class="d-block">Zaara Realty</span></h2>
            <p>Zaara Realty provides all the stake holders with end to end services to ensure a seamless marketing and sales experience. Services include Marketing and sales support for developers, provide wide range of exclusive properties comprising of ready-to-move-in homes, affordable homes, premium homes and plots to investors & property-buyers.</p>
        </div>
    </div>
</div>
</section>

<section class="about-container parallax py-5 mb-5 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-4 excellence">
                <h3>Excellence</h3>
                <p>Driven, motivated and inspired everyone at Zaara Realty strives for brilliance at work. This helps our clients get top notch services.</p>
            </div>
            <div class="col-md-4 passion">
                <h3>Passion</h3>
                <p>Handpicked by our team of experts, each member of our team is driven by a passion and a commitment towards best practices.</p>
            </div>
            <div class="col-md-4 intelligence">
                <h3>Intelligence</h3>
                <p>With our experience of scoping opportunities around the globe and our acumen for real estate we help our client make intelligent investments.</p>
            </div>
        </div>
        <!-- <div class="text-center"><button class="btn btn-primary no-radius">Read More</button></div>  -->
    </div>
</section>


<app-project-summary></app-project-summary>

<section class="py-5 clients-container">
    <div class="container text-center">
        <h3 class="mb-4">Clients</h3>
        <div class="row">
            <div class="col-md-12">
                <ul class="owl-carousel mb-0">
                    <li><img class="img-fluid" src="assets/images/clients/casagrand_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/ozonegreen_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/shriram_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/thelokhaubud_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/urbantree_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/isha_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/navins_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/radiance_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/ShriJanani_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/vijaybuilders_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/agni_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/alliance_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/puravankara_logo.jpg" alt=""></li>
                    <li><img class="img-fluid" src="assets/images/clients/urbanrise_logo.jpg" alt=""></li>


                </ul>
            </div>
        </div>
    </div>
</section>

<section class="whychoose-container py-5 parallax">
    <div class="container text-center">
        <h3>Why choose us?</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">01</p> 
                <p class="mb-0">DEDICATED PROPERTY CONSULTANT</p> 
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">02</p> 
                <p class="mb-0">24x7 SUPPORT</p> 
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">03</p> 
                <p class="mb-0">WE DO IT ALL</p> 
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="whychoose-number">04</p> 
                <p class="mb-0">BEST DEAL</p> 
            </div>
        </div>
    </div>
</section>

